/* GLOBAL STYLES */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --primary: #577399;
    --lighter: #bdd5ea;
    --darker: #495867;
    --accent: #fe5f55;
    --white: #f7f7ff;
    --black: #25252c;
    --floralwhite: #faf9f0;
    color: var(--black);
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--white);
    padding: 2rem 0;
}

main {
    max-width: 65rem;
    margin-right: auto;
    margin-left: auto;
}

nav {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

article {
    display: block;
}

h1, h2, h3, h4 {
    color: var(--primary);
    font-family: 'Overpass';
}

h1 {
    font-weight: 900;
    font-size: 2.5rem;
    max-width: 15ch;
}

h2 {
    font-weight: 900;
    font-size: 1.6rem;
}

h3, h4 {
    font-weight: 800;
    font-size: 1.2rem;
}

p {
    color: var(--black);
    font-size: 1.1rem;
    font-weight: 400;
    max-width: 65ch;
}

a {
    font-weight: 700;
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    color: var(--accent);
    cursor: pointer;
}

i {
    color: var(--black);
    padding-right: 0.6rem;
}


ul {
    list-style: none;
}

.sidebar {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.content {
    padding-left: 1rem;
    padding-right: 1rem;
}

img {
    width: 100%;
}

@media only screen and (min-width: 900px) {

    article {
        display: flex;
    }

    .sidebar {
        max-width: 40%;
    }
    
    .content {
        max-width: 60%;
    }

}