/* STYLES */

.profileInfo {
    display: flex;
    align-items: flex-end;
    /* flex-direction: column; */
}

.profile {
    border-radius: 100%;
    width: 120px;
}

.profileText {
    padding-left: 1.5rem;
    /* padding-top: 1.5rem; */
}

.socialMedia i {
    font-size: 2rem;
    color: var(--primary);
}

.socialMedia i:hover {
    color: var(--accent);
    cursor: pointer;
}

@media only screen and (min-width: 900px) {
    
    .profileInfo {
        flex-direction: row;
        align-items: flex-end;
    }

    .profileText {
        padding-left: 1.5rem;
        padding-top: 0rem;
    }
}